table(class = "table table-bordered table-striped table-hover")
  thead
    tr
      th Name
      th Traits
      th Influence
      th Connectedness
      th Connect!
  tbody

      tr
        th(class='name') Radford, Alec
        th(class='tweet') Being cool, Engineering, Programming, Javascript
        th(class='influence') 100
        th(class='connectedness') 100
        th(class='buttons') 
          a(href="http://twitter.com")
            img(src='http://www.georgetowncupcake.com/images/twitter_logo.gif')
