tr
  th(class='name') #{tweet.name}
  th(class='tweet') #{tweet.text}
  th(class='influence') #{tweet.influence}
  th(class='connectedness') #{tweet.score}
  th(class='buttons') 
    a(href="http://twitter.com")
      img(src='http://www.georgetowncupcake.com/images/twitter_logo.gif')