doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/easel.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/newsearch.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') #{title}
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') New Search
              li
                a(href='#rules') Searches
              li
                a(href='#contact') People
              .container(id='page')
      block content
