extends layout

block content
  body
    #wholebody.container-fluid
      .row-fluid.row-fluid-2
        span.span12.span12-1
          .container-fluid
            .row-fluid
              span.span6
                .row-fluid
                  span.span6
                    p.p-1 Title
                    input.textinput.Title(type='text', name='', placeholder='Title')
                  span.span6
              span.span6
                p.p-1 Field
                select.pull-left.Field(name='')
                  option(value='Technology') Technology
                  option(value='Home Goods') Home Goods
                  option(value='Sports') Sports
                  option(value='Fashion') Fashion
                  option(value='Education') Education
          .row-fluid
            span.span12
              span
          .container-fluid
            .row-fluid
              span.span3
                p.p-2 Keywords
                p.p-2  
              span.span3
                p.p-2 Importance
              span.span3
                p.p-2 Traits
              span.span3
                p.p-2 Importance
                p.p-2  
            .row-fluid.row-fluid-1
              span.span3
                #dom-elem-40.paragraph
                input.textinput.Keyword(type='text', placeholder='Keyword', name='')
              span.span3
                select.kw1importance(name='')
                  option(value='Low Importance') Low Importance
                  option(value='Medium Importance') Medium Importance
                  option(value='High Importance') High Importance
              span.span3
                .row-fluid
                  span.span4
                    p.p-3 Age
                  span.span8
                    select.Age(name='')
                      option(value='All') All
                      option(value='12-18') 12-18
                      option(value='19-22') 19-22
                      option(value='23-30') 23-30
                      option(value='31-40') 31-40
                      option(value='41-50') 41-50
                      option(value='50+') 50+
              span.span3
                select.ageimportance(name='')
                  option(value='No Importance') No Importance
                  option(value='Low Importance') Low Importance
                  option(value='Medium Importance') Medium Importance
                  option(value='High Importance') High Importance
            .row-fluid.row-fluid-1
              span.span3
                #dom-elem-54.paragraph
                input.textinput.Keyword(type='text', placeholder='Keyword', name='')
              span.span3
                select.kw2importance(name='')
                  option(value='Low Importance') Low Importance
                  option(value='Medium Importance') Medium Importance
                  option(value='High Importance') High Importance
              span.span3
                .row-fluid
                  span.span4
                    p.p-3 Location
                  span.span8
                    select.Location(name='')
                      option(value='USA') USA
                      option(value='East Coast') East Coast
                      option(value='South') South
                      option(value='MidWest') MidWest
                      option(value='West Coast') West Coast
              span.span3
                select.locimportance(name='')
                  option(value='No Importance') No Importance
                  option(value='Low Importance') Low Importance
                  option(value='Medium Importance') Medium Importance
                  option(value='High Importance') High Importance
            .row-fluid.row-fluid-1
              span.span3
                #dom-elem-68.paragraph
                input.textinput.Keyword(type='text', placeholder='Keyword', name='')
              span.span3
                select.kw3importance(name='')
                  option(value='Low Importance') Low Importance
                  option(value='Medium Importance') Medium Importance
                  option(value='High Importance') High Importance
              span.span3
                .row-fluid
                  span.span4
                    p.p-3 Gender
                  span.span8
                    select.Gender(name='')
                      option(value='Male') Male
                      option(value='Female') Female
              span.span3
                select.genimportance(name='')
                  option(value='No Importance') No Importance
                  option(value='Low Importance') Low Importance
                  option(value='Medium Importance') Medium Importance
                  option(value='High Importance') High Importance
            .row-fluid.row-fluid-1
              span.span3
                #dom-elem-82.paragraph
                input.textinput.Keyword(type='text', placeholder='Keyword', name='')
              span.span3
                select.kw4importance(name='')
                  option(value='Low Importance') Low Importance
                  option(value='Medium Importance') Medium Importance
                  option(value='High Importance') High Importance
              span.span3
                .row-fluid
                  span.span4
                    p.p-3 Formality
                  span.span8
                    select.Formality(name='')
                      option(value='Low') Low
                      option(value='Medium') Medium
                      option(value='High') High
              span.span3
                select.forimportance(name='')
                  option(value='No Importance') No Importance
                  option(value='Low Importance') Low Importance
                  option(value='Medium Importance') Medium Importance
                  option(value='High Importance') High Importance
          .row-fluid
            span.span6
              p.p-2.p-4 Desired Influence
              .row-fluid
                span.span4
                  p.p-3 Lower Influence
                  p.p-3  More People
                span.span4
                  .row-fluid.row-fluid-3
                    span.span4
                      label.radio.radio-1
                        input(type='radio', value='', name='')
                        span
                    span.span4
                      label.radio.radio-2
                        input(type='radio', value='', name='')
                        span
                    span.span4
                      label.radio.pull-right.radio-3
                        input(type='radio', value='', name='')
                        span
                span.span4
                  p.p-3 More Influence
                  p.p-3  Less People
            span.span6
              button.btn.btn-large.pull-center.submit Submit
