extends layout

block content
  #page-wrapper
    div(class='searches')
      div
        h3(class='searchTitle') Technology: 
      .well
        div(class='row')
          div(class='row1')
            h4 Field:
          div(id='field', class='row1')
            p Engineering
          div(class='row1')
            h4 Found:
          div(id='found', class='row1')
            p 239
          div(class='row1')
            h4 Connectedness:
          div(id='connect', class='row1')
            p 56.7
          div(class='row1')
            h4 Keywords:
          div(id='keywords', class='row1')
            p engineering, javascript, programming, google, apple, microsoft
        div(class='row')
          a(id='toggler', href='#') Show/Hide
        br
        div(id='tech')
          table(class = "table table-bordered table-striped table-hover")
            thead
              tr
                th Name
                th Relevant Tweet
                th Influence
                th Connectedness
                th Connect!
            tbody
              each tweet, i in tech
                include _people

    div(class='searches')
      div
        h3(class='searchTitle') Art: 
      .well
        div(class='row')
          div(class='row1')
            h4 Field:
          div(id='field', class='row1')
            p Art
          div(class='row1')
            h4 Found:
          div(id='found', class='row1')
            p 451
          div(class='row1')
            h4 Connectedness:
          div(id='connect', class='row1')
            p 99.89
          div(class='row1')
            h4 Keywords:
          div(id='keywords', class='row1')
            p photography, design, art
        div(class='row')
          a(id='toggler2', href='#') Show/Hide
        br
        div(id='art')
          table(class = "table table-bordered table-striped table-hover")
            thead
              tr
                th Name
                th Relevant Tweet
                th Influence
                th Connectedness
                th Connect!
            tbody
              each tweet, i in art
                include _people


