body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wholebody {
    margin-left: 300px;
}


.title {
    font-size: 300px;

}

.bar {
    font-size: 22px;
}


.row1{
	display: inline-block;
	padding: 5px;
}

.row{
	padding: 5px;
}

#page-wrapper {
   position: relative;
   width: 980px;
   /* centers the document */
   margin:0 auto;

}

#everything{
  margin-top: 60px;
}